.myenv/
myenv/
.venv/
venv
__pycache__/
*.pyc
qdrant_storage/
qdrant_data/
*.json
!frontend/package.json
!frontend/package-lock.json
!src/config/magazine_registry.json
*.log
.env/
/env
.env/
env/
*.sqlite
*.db
src/db/qdrant_data_tags/
./
