.myenv/
myenv/
.venv/
venv
__pycache__/
*.pyc
qdrant_storage/
qdrant_data/
!frontend/package.json
!frontend/package-lock.json
!src/config/magazine_registry.json
*.log
/env
.env/
.env
env/
*.sqlite
*.db
src/db/qdrant_data_tags/
!report/
!report/htmlcov/
!report/hyml/
/src/scripts/debug_took.py
src/scripts/debug_took.py
src/scripts/upload_manifest.json
/src/scripts/upload_manifest.json
!report/htmlcov/**
src/scripts/Gemini_Image_Enhancement/cropped images/
src/scripts/Gemini_Image_Enhancement/Enhanced_Images/
src/scripts/Gemini_Image_Enhancement/enhanced_images/
src/scripts/Gemini_Image_Enhancement/Enhanced_vol-8/
src/scripts/Gemini_Image_Enhancement/Enhanced_vol-6/
src/scripts/Gemini_Image_Enhancement/Enhanced_vol-7/
src/scripts/Gemini_Image_Enhancement/Enhanced_vol-5/
src/scripts/Gemini_Image_Enhancement/venv/
src/scripts/Gemini_Image_Enhancement/.env
.gstack/
