streamlit
torch
torchvision
torchaudio --index-url https://download.pytorch.org/whl/cu118
boto3
qdrant-client
sentence-transformers
transformers
accelerate
bitsandbytes
numpy
docx2txt
scikit-learn
sentencepiece
fastapi
uvicorn[standard]
pydantic