streamlit==1.53.1
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0 --index-url https://download.pytorch.org/whl/cu118
boto3==1.42.36
qdrant-client==1.16.2
sentence-transformers==5.2.2
transformers==5.0.0
accelerate==1.12.0
bitsandbytes==0.49.1
numpy==2.2.6
docx2txt==0.9
scikit-learn==1.7.2
sentencepiece==0.2.1
fastapi==0.128.0
uvicorn[standard]==0.40.0
pydantic==2.12.5
httpx==0.28.1
google-genai==1.64.0
pytest==9.0.2
moto==5.1.21
pytest-cov==7.0.0
pytest-asyncio==1.3.0
openpyxl ==3.1.5
gdown==5.2.0
pypdf==5.1.0
